<div style="max-width: 640px; margin: 0 auto; padding: 32px 16px 35px 16px;">
	<div style="width: 100%; height: 44px; padding-bottom: 16px; border-bottom: 2px solid #773A1C;">
		<a href="https://www.seoul-jaram.com" target="_blank" style=": 100%; display: inline-block;" rel="noreferrer noopener">
			<img class="navbar-brand-logo" src="https://www.seoul-jaram.com/assets/svg/logos/jaram-logo.png" alt="Image Description" width="200px" height="50px">
		</a>
	</div>
	<p style="margin: 40px 0 12px 0; line-height: 36px; font-size: 28px; color: #111111; font-weight: bold;font-family: BlinkMacSystemFont, 'Apple SD Gothic Neo', '맑은 고딕', sans-serf;">
		인증번호가 발송되었습니다.
	</p>
	<p style="margin: 8px 0 0 0; line-height: 26px; font-size: 16px; color: #212b36;font-family: BlinkMacSystemFont, 'Apple SD Gothic Neo', '맑은 고딕', sans-serf;">
		아래의 인증코드 4자리를 입력란에 입력해주세요.
	</p>
	<div style="padding:24px 0 0 0;">
		<div style="border: 1px solid #dddddd; padding: 20px; border-radius: 2px;">
			<p style="font-size: 16px; font-weight: bold;font-family: BlinkMacSystemFont, 'Apple SD Gothic Neo', '맑은 고딕', sans-serf;">##CERT_CODE##</p>
		</div>
		<p style="margin: 40px 0 32px 0; line-height: 20px; font-size: 13px; color: #555555;font-family: BlinkMacSystemFont, 'Apple SD Gothic Neo', '맑은 고딕', sans-serf;">
			본 메일은 발신전용 메일이므로 회신이 되지 않습니다.<br>
		</p>

		<div style="width: 100%; height: 36px; padding-bottom: 16px; border-bottom: 1px solid #DDDDDD;">
			<a href="https://www.seoul-jaram.com/" target="_blank" style=": 100%; display: inline-block;" rel="noreferrer noopener">
				<img class="navbar-brand-logo" src="https://www.seoul-jaram.com/assets/svg/logos/jaram-logo.png" alt="Image Description" width="150px" height="40px">
			</a>
		</div>
		<!--      MEMBER-2064-->
		<p style="margin: 16px 0 0 0; line-height: 24px; font-size: 14px; color: #111111;font-family: BlinkMacSystemFont, 'Apple SD Gothic Neo', '맑은 고딕', sans-serf;">자람&nbsp;&nbsp;|&nbsp;&nbsp;서울시 강남구 일원로 5길 29&nbsp;&nbsp;|&nbsp;&nbsp;전화번호 : 010-6505-5085
			|&nbsp;&nbsp;대표자 : 권정문&nbsp;&nbsp;|&nbsp;&nbsp;고유번호 : 586-80-02519 | 복지사업 제안 및 문의 : 010-6260-5085 &nbsp;&nbsp;|&nbsp;&nbsp;email : k0421jm@naver.com </p>
	</div>

</div>